@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap');

.navitens{
    border-radius: 50px;
    background: linear-gradient(180deg, #0459BC 0%, #0490BC 100%);
    width: 45rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    bottom: 2rem;
    @media only screen and (max-width: 768px) {
        width: 70%;
        height: 3rem;
        font-size: 0.5em;
    
    }
    @media only screen and (max-width: 480px) {
        width: 70%;
        height: 1.8rem;
        bottom: 1.3rem;
}
}
.containerLogo{
    background: #FECA32;
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1.4rem 0;

    @media only screen and (max-width: 768px) {
        height: 4em;
        padding: 0 0 1.7rem 0 ;
    }
    @media only screen and (max-width: 480px) {
        height: 2em;
        padding: 0 0 1.2rem 0;
    }
}
.navbar-itens{
    text-decoration: none;
    padding: 0 2.5rem 0 2.5rem;
    font-size:1em ;
    color: rgba(248, 248, 248, 0.97);
    font-family: Hind;

}

@media(max-width: 770px)
{
    .navbar-itens {
        padding: 0 0.5em 0 0.5em;
        font-size: 1.5em;
    }
}

@media(max-width: 385px)
{
    .navbar-itens {
        padding: 0 0.5em 0 0.5em;
        font-size: 1em;
    }
}

.logonav{
    width: 10rem;
    height: 3rem;
    @media only screen and (max-width: 768px) {
        width: 5.5rem;
        height: 1.8rem;
    }
    @media only screen and (max-width: 480px) {
        width: 3.5rem;
        height: 1rem;
    }
}
.containerhome {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    bottom: 4rem;
    @media only screen and (max-width: 768px) {
        bottom: 3rem;
    }
    @media only screen and (max-width: 480px) {
        bottom: 2rem;
    }
}

.imghome {
    display: none;
}

.img-home-cel {
    display: block;
}

@media(min-width: 600px)
{
    .imghome {
        display: block;
    }
    
    .img-home-cel {
        display: none;
    }
}

.text-home h1 {
    font-family: HIND;
    font-weight: 600;
    font-size: 3em;
    color: white;
}
.text-home {
    text-align: start;
    position: relative;
    bottom: 28rem;
    left: 5%;
    font-size: 1em;
    @media only screen and (max-width:480px) {
        bottom: 2rem;
        font-size: 0.2rem;
    }

    @media only screen and (max-width: 768px) {
        bottom: 18rem;
        font-size: 0.6em;
    }
}

.home h1 {
    position: absolute;
    margin-top: 20vh;
    margin-left: 8.438rem;
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: clamp(1.5rem, 3vw, 3rem); 
}

.home h1 span {
    color: #FFB800;
}

.home h2 {
    position: absolute;
    margin-top: 50vh;
    margin-left: 8.438rem;
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: clamp(1rem, 2vw, 3rem); 

}

.home h2 span {
    color: #FFB800;
}

