@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap');

.navitens {
    border-radius: 50px;
    background: linear-gradient(180deg, #0459BC 0%, #0490BC 100%);
    width: 45rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    bottom: 2rem;
    @media only screen and (max-width: 768px) {
        width: 70%;
        height: 3rem;
        font-size: 0.5em;
    
    }
    @media only screen and (max-width: 480px) {
        width: 70%;
        height: 1.8rem;
        bottom: 1.3rem;
}

}

.containerLogo {
    background: #FECA32;
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1.4rem 0;

    
}

.navbar-itens {
    text-decoration: none;
    padding: 0 2.5rem 0 2.5rem;
    font-size:1em ;
    color: rgba(248, 248, 248, 0.97);
    font-family: Hind;

}

@media(max-width: 770px)
{
    .navbar-itens {
        padding: 0 0.5em 0 0.5em;
        font-size: 1.5em;
    }
}

@media(max-width: 385px)
{
    .navbar-itens {
        padding: 0 0.5em 0 0.5em;
        font-size: 1em;
    }
}

.logonav {
    width: 10rem;
    height: 3rem;
    margin-bottom: 12px;

}

.containerhome {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    bottom: 4rem;
    @media only screen and (max-width: 768px) {
        bottom: 3rem;
    }
    @media only screen and (max-width: 480px) {
        bottom: 2rem;
    }
}

body {
    background-image: url("../../public/images/img-e-sombra.png");
    background-repeat: no-repeat;
    background-size: cover;

}

@media(max-width: 800px){
    body {
        background-image: url("../../public/images/img-home-celular.png");
    }
}

.home h1 {
    position: absolute;
    margin-top: 10vw;
    margin-left: 8.438rem;
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: clamp(1.5vw, 3vw, 3vw); 
}

.home h1 span {
    color: #FFB800;
}


@media(max-width: 800px){
    .home h1 {
        font-size: 7vw;
        margin-left: 7vw;
    }

    

}

.home h2 {
    position: absolute;
    margin-top: 22vw;
    margin-left: 8.438rem;
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: clamp(1vw, 2vw, 3vw); 

}

.home h2 span {
    color: #FFB800;
}

@media(max-width: 800px){
    
    .home h2 {
        font-size: 5vw;
        margin-top: 40vw;
        margin-left: 7vw;
    }
}

